[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = http://github.com/tpope/vim-pathogen.git
[submodule "bundle/LaTeX-Suite-aka-Vim-LaTeX"]
	path = bundle/LaTeX-Suite-aka-Vim-LaTeX
	url = http://github.com/vim-scripts/LaTeX-Suite-aka-Vim-LaTeX
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = http://github.com/scrooloose/syntastic.git
[submodule "bundle/align"]
	path = bundle/align
	url = http://github.com/vim-scripts/Align
[submodule "mru"]
	path = mru
	url = https://github.com/vim-scripts/mru.vim
[submodule "bundle/mru"]
	path = bundle/mru
	url = https://github.com/vim-scripts/mru.vim
[submodule "clang_complete"]
	path = clang_complete
	url = https://github.com/Rip-Rip/clang_complete
[submodule "bundle/clang_complete"]
	path = bundle/clang_complete
	url = https://github.com/Rip-Rip/clang_complete
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/msanders/snipmate.vim
